<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVQZKVGEE1S3yXQnTXF0bgs_AdL31H-ms</string>
	<key>GCM_SENDER_ID</key>
	<string>534383638320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floweryECommerce</string>
	<key>PROJECT_ID</key>
	<string>flowery-app-78949</string>
	<key>STORAGE_BUCKET</key>
	<string>flowery-app-78949.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534383638320:ios:b6f18403d4e331ca8e7af5</string>
	<key>DATABASE_URL</key>
	<string>https://flowery-app-78949-default-rtdb.firebaseio.com</string>
</dict>
</plist>